# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node modules
/node_modules

# Firebase and hosting cache/config
/.firebase
/.firebaserc

# Angular build cache
/.angular/cache

# VSCode settings (optional)
.vscode/

# Environments
src/environments/environment*.ts

# Misc logs
npm-debug.log*
yarn-error.log*

# IDE files
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
