@import "../../../styles.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 6.4rem 0 0 0;
}
.container {
  width: 100%;
  // height: 100vh;
  padding: 2rem;
  overflow-y: auto;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ::ng-deep .custom-spinner circle {
      stroke: $color-secondary !important;
    }
  }

  .heading {
    font-size: 2.5rem;
    text-align: center;
    color: $color-secondary;
    margin-bottom: 2rem;
  }

  .filter {
    mat-label {
      font-size: 1.2rem;
    }

    &__search {
      flex: 1 1 30rem;
    }

    &__sort {
      width: 30rem;
      font-size: 1.2rem;
    }

    mat-form-field {
      margin-bottom: 1rem;

      ::ng-deep .mat-mdc-form-field-infix {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
      }

      mat-error {
        font-size: 1rem;
      }

      input {
        font-size: 1.2rem;
      }
    }
  }

  .recipe-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .recipe {
    border-radius: 1.5rem;
    background: $color-primary;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    &__image {
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }

    &__title {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem 1.5rem 0 1.5rem;

      &__name {
        width: 90%;
      }
      &__likes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
      }
    }

    &__tags {
      padding: 1rem;
      display: flex;
      gap: 0.5rem;

      &__tag {
        background: $color-secondary;
        color: #f2f2f2;
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
      }
    }
  }

  .pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    .page-dots {
      font-size: 1.8rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    button {
      padding: 0.4rem 0.8rem;
      border: none;
      background: #f2f2f2;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.3s ease;
      font-size: 1.2rem;
      padding: 1.2rem;

      mat-icon {
        width: 2rem;
        height: auto;
        font-size: 2rem;
        margin-left: 0;
        margin-right: 0;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &.active {
        background-color: $color-secondary;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 64em) {
  .container {
    .recipe-container {
      gap: 1.5rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 48em) {
  .container {
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 40.46em) {
  .container {
    .recipe-container {
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
    .filter {
      mat-label {
        font-size: 1.4rem;
      }

      &__search {
        flex: 1 1 18rem;
      }

      &__sort {
        width: 18rem;
        font-size: 1.4rem;
      }

      mat-form-field {
        input {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 21em) {
  .container {
    .recipe-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .filter {
      gap: 0;
      &__search {
        flex: 1 1 auto;
      }

      &__sort {
        width: 100%;
      }
    }
    .pagination {
      button {
        font-size: 1rem;
        padding: 1rem;

        mat-icon {
          width: 2rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
