/* You can add global styles to this file, and also import other style files */
$color-primary-light: #faf9fd;
$color-primary: #d7e3ff;
$color-secondary: #034184;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 64em) {
    font-size: 56.25%;
  }
  // @media only screen and (max-width: 48em) {
  //   font-size: 43%;
  // }
  // @media only screen and (max-width: 35.25em) {
  //   font-size: 37.5%;
  // }
  @media only screen and (max-width: 40.46em) {
    font-size: 43%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $color-primary-light;
}
