<div class="main">
  <div class="container">
    <h2 class="heading">Favorite Recipes</h2>

    <div *ngIf="isLoading" class="loader">
      <mat-spinner diameter="60"></mat-spinner>
    </div>

    <div *ngIf="!isAddedFav && !isLoading" class="no-recipe">
      <p>No Recipe... Please add your favorite recipe.</p>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="btn"
          type="submit"
          (click)="onBackToRecipe()"
        >
          <span>All Recipe</span>
          <mat-icon>book</mat-icon>
        </button>
      </div>
    </div>

    <div class="recipe-container" *ngIf="!isLoading">
      <div
        *ngFor="let data of paginatedRecipes"
        (click)="viewRecipeDetail(data.id)"
      >
        <div class="recipe">
          <img class="recipe__image" [src]="data.imageUrl" alt="" />

          <div class="recipe__title">
            <div class="recipe__title__name">{{ data.title }}</div>
            <div class="recipe__title__likes">
              <mat-icon
                matTooltip="Click to remove from favorites"
                class="like-button"
                [style.color]="isFavorite(data.id) ? 'red' : 'gray'"
                (click)="toggleLike(data, $event)"
              >
                {{ isFavorite(data.id) ? "favorite" : "favorite_border" }}
              </mat-icon>
              {{ data.likes }}
            </div>
          </div>

          <div class="recipe__tags">
            <span
              *ngFor="let tag of data.tags.slice(0, 2)"
              class="recipe__tags__tag"
            >
              {{ tag }}
            </span>
            <span
              *ngIf="data.tags.length > 2"
              class="recipe__tags__tag recipe__tags__tag--more"
            >
              +{{ data.tags.length - 2 }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="changePage(1)" [disabled]="currentPage === 1">
        <mat-icon>first_page</mat-icon>
      </button>

      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <div *ngFor="let page of getPageArray() as pages; trackBy: trackByPage">
        <div class="page-dots" *ngIf="page === '...'">{{ page }}</div>
        <button
          *ngIf="page !== '...'"
          [class.active]="currentPage === page"
          (click)="onPageClick(page)"
        >
          {{ page }}
        </button>
      </div>

      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

      <button
        (click)="changePage(totalPages)"
        [disabled]="currentPage === totalPages"
      >
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
</div>
